[package]
name = "threshold-paillier"
version = "0.1.0"
edition = "2021"

[dependencies]
crypto-bigint = { git = "https://github.com/ycscaly/crypto-bigint.git", rev = "f82973d", features = ["extra-trait-impls", "rand_core", "serde"], default-features = false }

[dev-dependencies]
rand_core = { version = "0.6.4", features = ["std"] }
